@media screen and (max-width: 575px){
    .containerMenu {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    
        ul.botoes {
            li {
                display: flex;
                flex-direction: column;
                padding: 0 vh 3vh 5vw; /* Corrigido 'vh' para '0' */
            }
    
            a {
                text-decoration: none;
                color: inherit;
                padding: 5vh 0vw 3vh 5vw;
                border-bottom: 2px solid #0046C7;
            }
        }
    
        ul.botaoVoltar {
            position: absolute;
            bottom: 0;
            height: 8vh;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 2vh;
    
            li {
                list-style-type: none;
                width: 1vw;
    
                a {
                    text-decoration: none;
                    width: min-content;
    
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 576px) and (max-width: 767){
    /* Menu para XS e SM */
    .containerMenu {
        display: flex;
        flex-direction: column;
        align-items: space-between;

        ul.botoes {
            li {
                display: flex;
                flex-direction: column;
                padding: 0 vh 3vh 5vw; /* Corrigido 'vh' para '0' */
            }

            a {
                text-decoration: none;
                color: inherit;
                padding: 5vh 0vw 3vh 5vw;
                border-bottom: 2px solid #0046C7;
            }
        }

        ul.botaoVoltar {
            position: absolute;
            bottom: 0;
            height: 8vh;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 2vh;

            li {
                list-style-type: none;
                width: 1vw;

                a {
                    text-decoration: none;
                    width: min-content;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }

}