@media screen and (min-width: 1200px){
    header.cabecalho{
        height: 12vh;
        display: flex;
        align-items: center;
        padding: 0 75px; 
        width: 100%;
        justify-content: space-between;

        .hamburguer{
            display: none;
            visibility: hidden;
        }

        .logo{
            margin-right: 75px;
            width: auto;
            height: 13vh;
        }

        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .linksesquerda{
                display: flex;
                gap: 35px;
                list-style: none;
            }

            .linksdireita{
                list-style: none;

                .link a{
                    display: block;
                    padding: 5px 25px;
                    border-radius: 5px;
                    background-color: #0046C7;
                    color: #fff;
                }
            }

            /* Retirando a formatação dos links do header */
            ul .link a{
                text-decoration: None;
                color: inherit;
                font-weight: 600;
                font-size: 1.75rem;
            }
        }
    }
}