/* Extra Grande (XL) - Desktops Grandes */
@media screen and (min-width: 1200px){

    
    main.containerForm{
        padding: 5vh 25vw;
        
    }

    main.containerForm .formulario{
        display: flex;
        justify-content: center;
    }

    main.containerForm .formulario .quadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #EFF4F0;
        border: solid black 3px;
        border-radius: 20px;
        padding: 5vh 4vw;
    }


    main.containerForm .formulario .quadrado h1{
        text-align: center;
        margin-top: 3rem;
    }
    main.containerForm .formulario .quadrado p{
        text-align: center;
        margin-top: 2vh;
        font-weight: bold;
    }
    main.containerForm .formulario .quadrado h2{
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
        font-size: 2rem;
    }

    main.containerForm .formulario .quadrado h3{
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
        font-size: 2rem;
    }

    main.containerForm .formulario .quadrado .divCampo label{
        font-size: 2rem;
        font-weight: 600;
    }
    
    main.containerForm .formulario .quadrado .divCampo label span{
        color: red;
    }
    main.containerForm .formulario .quadrado .divCampo{
        margin-top: 3vh;
    }
    
    main.containerForm .formulario .quadrado .divCampo .formatacaoEntradaCampo{
        align-self: center;
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
        border: none;
        font-size: 1.6rem;
        padding: 0.5vh 2vw;
        background-color: #d8d7d7;
    }

    main.containerForm .formulario .quadrado .enviar{
        align-self: flex-start;
        margin-top: 6vh;
        padding: 1.5vh 2.5vw;
        font-size: 1.6rem;
        border-radius: 5px;
        border: none;
        background-color: #0046C7;
        color: #FFF;
    }
}

/* Grande (LG) - Desktops Médios */
@media screen and (min-width: 992px) and (max-width: 1199px){

    main.containerForm{
        padding: 5vh 25vw;
    }

    main.containerForm .formulario{
        display: flex;
        justify-content: center;   
    }
        
    
    main.containerForm .formulario .quadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #EFF4F0;
        border: solid black 3px;
        border-radius: 20px;
        padding: 5vh 4vw;
    }

    main.containerForm .formulario .quadrado h1{
        text-align: center;
        font-size: 3rem;
    }
    main.containerForm .formulario .quadrado p{
        text-align: center;
        margin-top: 2vh;
        font-weight: bold;
    }

    main.containerForm .formulario .quadrado .divCampo{
        margin-top: 3vh;
    }

    main.containerForm .formulario .quadrado .divCampo label{
        font-size: 2rem;
        font-weight: 600;
    }
    
    main.containerForm .formulario .quadrado .divCampo input.formatacaoEntradaCampo{
        align-self: center;
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
        border: none;
        font-size: 1.6rem;
        padding: 0.5vh 2vw;
        background-color: #d8d7d7;
    }

    main.containerForm .formulario .quadrado .enviar{
        align-self: flex-start;
        margin-top: 6vh;
        padding: 1.5vh 2.5vw;
        font-size: 1.6rem;
        border-radius: 5px;
        border: none;
        background-color: #0046C7;
        color: #FFF;
    }
}


/* Médio (MD) - Tablets e Laptops */
@media screen and (min-width: 768px) and (max-width: 991px){

    /* Página de cadastro */
    main.containerForm{
        padding: 5vh 15vw;
    }

    main.containerForm .formulario{
        display: flex;
        justify-content: center;
    }

    main.containerForm .formulario .quadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #EFF4F0;
        border: solid black 2px;
        border-radius: 20px;
        padding: 8vh 4vw;
    }

    main.containerForm .formulario .quadrado h1{
        text-align: center;
        font-size: 2.5rem;
    }
    main.containerForm .formulario .quadrado p{
        text-align: center;
        margin-top: 2vh;
        font-size: 1.5rem;
        font-weight: bold; 
    }

    main.containerForm .formulario .quadrado .divCampo{
        margin-top: 3vh;
    }
    main.containerForm .formulario .quadrado .divCampo label{
        font-size: 2rem;
        font-weight: 600;

    }

    main.containerForm .formulario .quadrado .divCampo .formatacaoEntradaCampo{
        align-self: center;
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
        border: none;
        font-size: 1.6rem;
        padding: 0.5vh 2vw;
        background-color: #d8d7d7;
    }

    main.containerForm .formulario .quadrado .enviar{
        align-self: flex-start;
        margin-top: 6vh;
        padding: 1.5vh 2.5vw;
        font-size: 1.6rem;
        border-radius: 5px;
        border: none;
        background-color: #0046C7;
        color: #FFF;
    }
}

/* Pequeno (SM) - Telefones Médios e Tablets Pequenos */
@media screen and (min-width: 576px) and (max-width: 767px){

    main.containerForm {
        padding: 9vh 12vw;
    }

    main.containerForm .formulario{
        display: flex;
        justify-content: center;
    }

    main.containerForm .formulario .quadrado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #EFF4F0;
        border: solid black 1px;
        border-radius: 20px;
        padding: 7vh 4vw;
    }
    main.containerForm .formulario .quadrado h1{
        text-align: center;
        font-size: 2.25rem;
    }


    main.containerForm .formulario .quadrado p{
        text-align: center;
        margin-top: 2vh;
        font-size: 1.25rem;
        font-weight: bold;
    }
    main.containerForm .formulario .quadrado .divCampo{
        margin-top: 3vh;
    }

    main.containerForm .formulario .quadrado .divCampo label{
        font-size: 1.5rem;
        font-weight: 600;
    }

    main.containerForm .formulario .quadrado .divCampo .formatacaoEntradaCampo{
        align-self: center;
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
        border: none;
        font-size: 1.25rem;
        padding: 0.5vh 2vw;
        background-color: #d8d7d7;
    }

    main.containerForm .formulario .quadrado .enviar{
        align-self: flex-start;
        margin-top: 4vh;
        padding: 1.5vh 2.5vw;
        font-size: 1.5rem;
        border-radius: 5px;
        border: none;
        background-color: #0046C7;
        color: #FFF;
    }
}


/* Extra Pequeno (XS) - Telefones Pequenos */
@media screen and (max-width: 575px){
    main.containerForm .formulario{
        display: flex;
        justify-content: center;
    }
    
    main.containerForm .formulario .quadrado{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #EFF4F0;
        border: none;
        padding: 14vh 6vw;
    }
    
    main.containerForm .formulario .quadrado h1{
        text-align: center;
        font-size: 2.22rem;
    }

    main.containerForm .formulario .quadrado p{
        text-align: center;
        margin-top: 2vh;
        font-size: 1.25rem;
        font-weight: bold;
    }

    main.containerForm .formulario .quadrado .divCampo{
        margin-top: 3vh;
    }
    
    main.containerForm .formulario .quadrado .divCampo .formatacaoEntradaCampo{
        align-self: center;
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
        border: none;
        font-size: 1.25rem;
        padding: 0.5vh 2vw;
        background-color: #d8d7d7;
    }
    main.containerForm .formulario .quadrado .enviar{
        align-self: flex-start;
        margin-top: 4vh;
        padding: 1.5vh 5vw;
        font-size: 1.4rem;
        border-radius: 5px;
        border: none;
        background-color: #0046C7;
        color: #FFF;
    }
}