@media screen and (min-width: 1200px){
    .containerErro{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerErro h1{
        color: #0046C7;
        margin-bottom: 2vh;
    }

    .containerErro h2{

    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .containerErro{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerErro h1{
        color: #0046C7;
        margin-bottom: 2vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .containerErro{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerErro h1{
        margin-bottom: 2vh;
        font-size: 2.5rem;
        color: #0046C7;

    }

    .containerErro h2{
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .containerErro{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerErro h1{
        margin-bottom: 2vh;
        font-size: 2.5rem;
        color: #0046C7;

    }

    .containerErro h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .containerErro{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containerErro h1{
        margin-bottom: 2vh;
        font-size: 2rem;
        color: #0046C7;

    }

    .containerErro h2{
        font-size: 0.8rem;
    }
}